* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility styling */

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Styling background image */

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/background.png");
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Styling Header */

header {
  padding: 0 60px 0 60px;
  margin-top: 35px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 8rem;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 4rem;
}

nav ul > li {
  font-size: 1.2rem;
  color: #f1c40f;
  font-family: "Red Rose";
  font-weight: 500;
}

nav .cta button {
  padding: 10px 45px;
  border: none;
  background: #ff6348;
  font-family: "Red Rose";
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

/* Styling main section */

main {
  max-width: 1154px;
  margin: 0 auto;
  text-align: center;
  margin-top: 4rem;
  padding: 0 60px 0 60px;
}

main > h1 {
  font-size: 5.2rem;
  font-family: "Dela Gothic One", cursive;
  font-weight: 400;
  line-height: 95px;
  color: #f1c40f;
}

main button {
  padding: 10px 25px;
  margin-top: 2rem;
  border: none;
  color: #fff;
  background-color: #ff6348;
  font-family: "Red Rose";
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.bottom {
  position: absolute;
  bottom: 20px;
  right: 40px;
}
